/* Fonts ----------------------*/

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@200;300&display=swap");

/* Fonts ----------------------*/

/* Responsiviness ------------------------------------- */

@media screen and (max-device-width: 540px) {
  .heroImage {
    display: none;
  }

  .hero-title {
    font-size: 7vw;
    text-align: center;
  }

  .hero-subtitle {
    font-size: 5vw;
    text-align: center;
  }

  .flex-right {
    display: none;
  }

  .hero-button-icons-flex > button {
    align-self: center;
    width: fit-content;
    margin-bottom: 5%;
    font-size: 4vw;
  }

  .hero-button-icons-flex {
    flex-direction: column;
  }

  .icon-github {
    align-self: center;
    margin-right: 12%;
  }

  .icon-linkedin {
    align-self: center;
    margin-right: -14%;
    margin-top: -12%;
  }

  .card {
    width: 100%;
    height: 100%;
    margin: 1%;
  }

  .AboutSlider {
    background-color: #20252B;
    height: fit-content;
  }

  .slidecard-title {
    text-align: center;
    font-size: 4vw;
  }

  .about-me {
    flex-direction: column;
  }

  .about-me-flex-left > img {
    margin-left: 2.5%;
    width: 50%;
  }

  .about-me-paragraph {
    color: #434297;
    text-align: justify;
    padding: 5%;
    font-family: "Open Sans";
    font-size: 4vw;
  }
}

/* End of Responsiviness ------------------------------------- */

body {
  height: 100%;
  width: 100%;
}

.flex-hero-container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  background-color: #434297;
  padding: 10%;
}

.flex-left {
  width: 100%;
  height: 100%;
}

.flex-right {
  width: 100%;
  height: 100%;
}

h1 {
  color: #f7f7f7;
  align-items: flex-end;
  margin-left: 3%;
  justify-content: left;
  font-size: 3.5vw;
  font-family: "Poppins", "sans-serif";
  font-weight: bold;
}

h2 {
  color: #f7f7f7;
  margin-left: 3%;
  font-size: 2.5vw;
  font-family: "Poppins", "sans-serif";
  font-weight: 200;
}

.hero-button-icons-flex {
  display: flex;
}

.button {
  background-color: #d95d1a;
  color: #f7f7f7;
  margin-left: 3%;
  border-radius: 3px;
  border-style: none;
  font-family: "Open Sans", "sans-serif";
  font-weight: bold;
  font-size: 2vw;
  height: fit-content;
  padding: 4% 8%;
  align-items: center;
}

.button:hover {
  background-color: #60b349;
  cursor: pointer;
}

.icon-github,
.icon-linkedin {
  width: 12%;
  margin-left: 2%;
  float: left;

  /* transition type for every browser
  webkit: chrome, safari and opera 12
  moz: firefox
  o: opera 11 */

  -webkit-transition: margin 0.5s ease-out;
  -moz-transition: margin 0.5s ease-out;
  -o-transition: margin 0.5s ease-out;

  /* Add standard transiton to avoid vendor error */
  transition: margin 0.5s ease-out;
}

.icon-github:hover,
.icon-linkedin:hover {
  cursor: pointer;
  margin-bottom: 3%;
}

.heroImage {
  width: 120%;
}

.about-me {
  background-color: #b8b8b8;
  display: flex;
}

.about-me-flex-left,
.about-me-flex-right {
  width: 100%;
}

.about-me-flex-left > img {
  border-radius: 50%;
  padding: 10%;
  width: 75%;
}

#about-me-title {
  color: #434297;
  font-weight: 300;
  text-align: center;
  font-size: 4.5vw;
  margin-bottom: -2%;
}

.about-me-flex-right > .hero-dev-title {
  color: #434297;
  font-weight: 300;
  text-align: center;
  font-size: 3vw;
}

.stack-icons {
  margin-left: 33%;
}

.stack-icons > img {
  width: 10%;
}

/* Conditional formatting for responsiviness */

@media screen and (min-device-width: 767px) {
  .about-me-paragraph {
    color: #434297;
    text-align: justify;
    padding: 5%;
    font-family: "Open Sans";
    font-size: 1.5vw;
  }
}

/* End of Conditional formatting for responsiviness */ 

