/* Fonts ----------------------*/
html {
  font-size: 100%;
} /*16px*/
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;500&family=Poppins:wght@200;300&display=swap");

/* Fonts ----------------------*/

/* Mobile ------------------------------------- */

@media screen and (max-device-width: 766px) {
  .flex-hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    padding: 10%;
    background-image: url("./assets/acf-portfolio-bg.png");
  }

  .heroImage {
    display: none;
  }

  .hero-title {
    font-size: 2rem;
    text-align: center;
    font-family: "Poppins";
    color: white;
  }

  .hero-subtitle {
    font-size: 1rem;
    text-align: center;
    font-family: "Poppins";
    color: white;
  }

  .flex-right {
    display: none;
  }

  .hero-button-icons-flex > button {
    align-self: center;
    width: fit-content;
    margin-bottom: 5%;
    font-size: 4vw;
  }

  .hero-button-icons-flex {
    flex-direction: column;
  }

  .icon-github {
    align-self: center;
    margin-right: 26%;
    width: 12%;
  }

  .icon-linkedin {
    align-self: center;
    margin-right: 0%;
    margin-top: -12%;
    width: 12%;
  }

  .icon-rg {
    align-self: center;
    margin-right: -29%;
    margin-top: -11.5%;
  }

  .card {
    width: 100%;
    height: 100%;
    margin: 1%;
  }

  .AboutSlider {
    background-color: #20252b;
    height: fit-content;
  }

  .slidecard-title {
    text-align: center;
    font-size: 4vw;
    font-family: "Poppins";
    color: white;
  }

  .about-me {
    flex-direction: column;
  }

  #about-me-title {
    color: #434297;
    font-weight: 300;
    text-align: center;
    font-size: 2rem;
    margin-bottom: -2%;
  }

  .about-me-flex-left > img {
    border-radius: 50%;
    margin-left: 20%;
    padding: 5%;
    width: 50%;
  }

  .hero-dev-title {
    color: #434297;
    font-weight: 300;
    text-align: center;
    font-size: 1rem;
    margin-bottom: 5%;
  }

  .stack-icons {
    margin-left: 33%;
  }

  .stack-icons > img {
    width: 10%;
  }

  .about-me-paragraph {
    color: #434297;
    text-align: justify;
    padding: 5%;
    font-family: "Open Sans";
    font-size: 4vw;
  }
}

/* End of Mobile ------------------------------------- */

body {
  height: 100%;
  width: 100%;
}

.flex-left {
  width: 100%;
  height: 100%;
}

.flex-right {
  width: 100%;
  height: 100%;
}

.hero-button-icons-flex {
  display: flex;
}

.button {
  background-color: #d95d1a;
  color: #f7f7f7;
  margin-left: 3%;
  border-radius: 3px;
  border-style: none;
  font-family: "Open Sans", "sans-serif";
  font-weight: bold;
  font-size: 2vw;
  height: fit-content;
  padding: 4% 8%;
  align-items: center;
}

.button:hover {
  background-color: #60b349;
  cursor: pointer;
}

.heroImage {
  width: 120%;
}

.about-me-flex-left,
.about-me-flex-right {
  width: 100%;
}

/* Bigger screens */

@media screen and (min-device-width: 767px) {
  .flex-hero-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin-top: 5%;
    padding: 10%;
    background-image: url("./assets/acf-portfolio-bg.png");
  }

  .hero-title {
    color: #f7f7f7;
    align-items: flex-end;
    margin-left: 3%;
    justify-content: left;
    font-size: 3rem;
    font-family: "Poppins", "sans-serif";
    font-weight: bold;
  }

  .hero-subtitle {
    color: #f7f7f7;
    margin-left: 3%;
    font-family: "Poppins", "sans-serif";
    font-weight: 200;
    font-size: 1.5rem;
  }

  .icon-github,
  .icon-linkedin,
  .icon-rg {
    width: 12%;
    margin-left: 2%;
    float: left;

    /* transition type for every browser
  webkit: chrome, safari and opera 12
  moz: firefox
  o: opera 11 */

    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;

    /* Add standard transiton to avoid vendor error */
    transition: margin 0.5s ease-out;
  }

  .icon-github:hover,
  .icon-linkedin:hover,
  .icon-rg:hover {
    cursor: pointer;
    margin-bottom: 3%;
  }

  .about-me-flex-left > img {
    border-radius: 50%;
    padding: 10%;
    width: 80%;
    margin-left: 10%;
  }

  .about-me-flex-right {
    margin-top: 4%;
    margin-right: 5%;
  }

  .about-me {
    background-color: #ffff;
    display: flex;
  }

  #about-me-title {
    color: #434297;
    font-weight: 300;
    text-align: center;
    font-size: 3rem;
    margin-bottom: -2%;
  }

  .hero-dev-title {
    color: #434297;
    font-weight: 300;
    text-align: center;
    font-size: 1.5rem;
    margin-bottom: 5%;
  }

  .stack-icons {
    margin-left: 33%;
  }

  .stack-icons > img {
    width: 10%;
    float: left;

    /* transition type for every browser
  webkit: chrome, safari and opera 12
  moz: firefox
  o: opera 11 */

    -webkit-transition: margin 0.5s ease-out;
    -moz-transition: margin 0.5s ease-out;
    -o-transition: margin 0.5s ease-out;

    /* Add standard transiton to avoid vendor error */
    transition: margin 0.5s ease-out;
  }

  .stack-icons > img:hover {
    margin-top: 3%;
  }

  .about-me-paragraph {
    color: #434297;
    text-align: justify;
    padding: 10%;
    font-family: "Open Sans";
    font-size: 1.5vw;
  }

  .AboutSlider {
    background-color: #20252b;
    height: fit-content;
  }

  .slidecard-title {
    text-align: center;
    font-size: 1.5rem;
    font-family: "Poppins";
    color: white;
  }
}

/* End of Bigger screens --------------------- */
